<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deen TODO LIST</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/fontawesome.min.css')}}">
</head>
<body>
    <div class="container border w-50 my-4 bg-info rounded p-4">
        <h2 class="text-center" style="color:#fff; font-weight:bold;">TODO LIST</h2>
        <form action="{{url_for('add')}}" method="post">
            <div class="d-flex">
                <input type="text" class="form-control" name="todo">
                <button type="submit" class="btn btn-success text-nowrap" style="position:absolute; right:360px; font-family:Arial; font-weight:bold;">Add to List</button>
            </div>
        </form>

        <ul class="p-4">
            {% for todo in todos %}
            <li style="list-style:none; font-family: Arial; font-weight:bold;">
                <input class="p-3 mx-2" type="checkbox" name="done" {% if todo['done'] %} checked {% endif %} disabled onchange="this.form.submit()">
                <span {% if todo['done'] %} style="color:grey; text-decoration: line-through;" {% endif %}>{{todo['task']}}</span>
                <a class="p-2" style="color:#00f; text-decoration:none; font-weight:bold;" href="{{url_for('check', home=loop.index0)}}"><i class="fa fa-check"></i></a>
                <a style="color:#ff0; text-decoration:none; font-weight:bold;" href="{{url_for('edit', index=loop.index0)}}"><i class="fa fa-edit"></i></a>
                <a class="p-2" style="color:#f00; text-decoration:none; font-weight:bold;" href="{{url_for('delete', home=loop.index0)}}"><i class="fa fa-trash"></i></a>
            </li>
            {% endfor %}
        </ul>
       
    </div>
    


    <script src="/js/jquery.min.js"></script>
    <script src="{{url_for('static', filename='/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/all.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/fontawesome.min.js')}}"></script>
</body>
</html>